.NavMobile {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

#NavAuthM {
    background-color: var(--blue);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

#NavButtonM {
    background-color: var(--blue);
    border-color: var(--white);
    color: var(--white);
}

#NavButtonM:hover {
    background-color: var(--white) !important;
    border-color: var(--white) !important;
    color: var(--blue) !important;
}

#NavButtonM:focus {
    box-shadow: none !important;
}

#NavbarBrandM {
    color: var(--white);
}

#NavbarBrandM:hover {
    color: var(--white);
}

#NavbarTogglerM {
    border-color: var(--white);
}

.customToggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(249,249,249, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
