.UpdateButton {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-right: .5em;
}

.UpdateButton:hover {
    background-color: var(--white) !important;
    border-color: var(--blue) !important;
    color: var(--blue) !important;
}

.UpdateButton:focus {
    box-shadow: none !important;
}

.UpdateHeader {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: var(--blue);
}

.UpdateSubmit {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.UpdateSubmit:hover {
    background-color: var(--white) !important;
    border-color: var(--blue) !important;
    color: var(--blue) !important;
}

.UpdateSubmit:focus {
    box-shadow: none !important;
}

.UpdateCancel { 
    background-color: var(--grey);
    border-color: var(--grey);
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.UpdateCancel:hover {
    background-color: var(--white) !important;
    border-color: var(--grey) !important;
    color: var(--grey) !important;
}

.UpdateCancel:focus {
    box-shadow: none !important;
}

.UpdateLabel {
    font-family: 'Roboto', serif;
}

.UpdateFooter {
    border-top: none;
}