.NavHome {
    background-color: var(--white);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid lightgray;
}

.NavHomeButton {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
    text-transform: uppercase;
}

.NavHomeButton:hover {
    background-color: var(--white) !important;
    border-color: var(--blue) !important;
    color: var(--blue) !important;
    text-transform: uppercase;
}

.NavHomeButton:focus {
    box-shadow: none !important;
}

.navbar-light .navbar-brand {
    color: var(--blue);
}

.navbar-light .navbar-brand:hover {
    color: var(--blue);
}

#CurrentUser {
    color: var(--blue);
    border-right: 1px solid lightgray;
    margin-right: 1em;
    text-transform: capitalize;
}